body{

    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: cyan */
    font-family: Prompt;
    overflow-x: hidden;
}

header{
    /* background-color: darkgreen; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
}

header img{
  margin-top: 20px;
  margin-left: 100px;
}

header nav{
    display: flex;
    /* background-color: crimson; */
    gap: 55px;
}

header nav a{
    color: #ffff;
    text-decoration: none;
    font-size: 15px;
}

#prin{
    width: 100%;
    height: 945px;
    background-color: #E33F3F;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 100px;
    margin-bottom: 50px;
}

#prin img{
    width: 900px;
    height: 945px;
}

#Caixa-orga{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: blue; */
    
}

#Caixa-orga #Caixa-informa{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: coral; */
    color: #ffff;
}

#Caixa-orga #Caixa-informa h1{
    font-size: 49px;
    margin: 0;
    width: 65%;
    /* background-color: aqua; */
    line-height: 55px;
    font-family: bold;
    z-index: 1;
}

#Caixa-orga #Caixa-informa p{
    margin: 0;
    width: 98%;
    margin-top : 15px;
    margin-bottom: 15px;
    font-size: 20px;
    z-index: 1;
}

#Caixa-orga #Caixa-informa button{
    width: 200px;
    height: 50px;
    background-color: #E33F3F;
    border: #FF9898 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#Caixa-orga #Caixa-informa button a{
    color: #ffff;
    text-decoration: none;
}

#Caixa-orga #Caixa-produto{
    width: 60%;
    height: 10%;
    gap: 20px;
    /* background-color: rgb(231, 185, 0); */
    display: flex;
    justify-content: start;
    align-items: center;
    color: #ffff;
}

#Caixa-orga #Caixa-produto img{
    width: 20%;
    height: 35%;
}

#prin .elemento-opaco{
    width: 1001px;
    height: 400px;
    position: absolute;
    background-color: #FF989880;
    opacity: 3;
    transform: rotate(-48deg);
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    right: -150px;
    top: 150px;

}

#prin #elemento-solido{
    width: 280px;
    height: 100px;
    border-radius: 20px;
    background-color: #ffff;
    position: absolute;
    top: 10px;
    left: -130px;
    transform: rotate(-45deg);

}

#prin #elemento-linha{
    width: 350px;
    height: 100px;
    border: #FF9898 1px solid;
    border-top: none ;
    position: absolute;
    top: 35px;
    left: -100px;
    transform: rotate(-45deg);

}

/* Rodape */

footer{
    width: 100%;
    height: 455px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer #Conteudo{
    background-color:#E33F3F;
    width: 100%;
    height: 405px;
    border-radius: none;
    display: flex;
    align-items: center;
    color: #ffff;


}

footer #Conteudo #elemento{
    width: 290px;
    height: 150px;
    border-radius: 20px;
    background-color: #FFFFFF;
    position: absolute;
    left: -120px;
    bottom: -2000px;
    transform: rotate(-48deg);
}

footer #Conteudo #ele-linha{
    width: 350px;
    height: 100px;
    border: #FF9898 1px solid;
    border-top: none ;
    border-left: none;
    border-right: none;
    position: absolute;
    bottom: -2044px;
    left: -150px;
    transform: rotate(-48deg);
}


footer #Conteudo #orga-footer{
    /* background-color: #2ECC71; */
    width: 50%;
}

footer #Conteudo img{
    margin-left: 40px;
}

footer #Conteudo #orga-footer p{
    font-size: 22px;
    margin: 0px;
    width: 85%;

}

footer #Conteudo #orga-footer h1{
    font-size: 35px;
    font-family: bold;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 40px;
    /* background-color: blue; */
}

footer #Conteudo #orga-footer form{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 120px;
    margin-top: 10px;
    /* background-color: darkgray; */
}

footer #Conteudo #orga-footer form #orga-linha{
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    width: 100%;
}

footer #Conteudo #orga-footer form #orga-linha input{
    border: none;
    border-radius: 10px;
    width: 28%;
    height: 50px;
    background-color: #EF5D5D;
    color: #ffff;
    padding-left: 30px;
}

footer #Conteudo #orga-footer form #orga-linha input::placeholder{
    font-family: prompt;
    color: #ffff;
}

footer #Conteudo #orga-footer form button{
    width: 250px;
    height: 55px;
    background-color: #2ECC71;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    /* position: absolute; */

}

footer #Conteudo #orga-footer form button a{
    color: #ffff;
    text-decoration: none;
    font-family: bold;
}

footer #Rodape{
    background-color: #D13232;
    width: 100%;
    height: 50px;
    color: #FFC1C1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: prompt;
    src: url(../font/Prompt/Prompt-ExtraLight.ttf);
}

@font-face {
    font-family: bold;
    src: url(../font/Prompt/Prompt-Bold.ttf);
}


